<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>O meu carro</title>
</h:head>
<h:body>
	<h:form id="hi_logout" rendered="#{credenciais.autenticado}">
		<h:commandLink action="perfil">
			<h:graphicImage cache="false"
				url="/images/#{credenciais.usuarioLogueado.avatar}" height="70px" width="70px" />
		</h:commandLink>
		<h:commandButton action="#{credenciais.logout()}" value="Logout" />
	</h:form>

	<h:form id="login" rendered="#{not credenciais.autenticado}">
		<h:panelGrid columns="2">
			<h:outputLabel value="Email" for="user" />
			<h:inputText id="user" value="#{credenciais.username}" />
			<h:outputLabel value="Password" for="pass" />
			<h:inputSecret id="pass" value="#{credenciais.password}" />
			<h:commandButton action="#{credenciais.autentica()}" value="Login" />
			<h:commandButton type="reset" value="Borrar" />
			<h:commandButton action="rexistro" value="Rexistrarse" />
		</h:panelGrid>
	</h:form>
	<br />

	<br />
	<h:form id="carro">
		<h:message for="carro" />
		<h:dataTable id="carro" var="lineaCarro"
			value="#{userBacking.carro.lineasPedido}"
			rendered="#{not userBacking.carroBaleiro}">
			<f:facet name="header">
				<h:outputText value="CARRO" />
			</f:facet>
			<h:column>
				<f:facet name="header">Id</f:facet>
				<h:outputText value="#{lineaCarro.produto.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{lineaCarro.produto.nome}" />
			</h:column>
			<h:column>
				<f:facet name="header">Foto</f:facet>
				<h:graphicImage cache="false"
					url="/images/#{lineaCarro.produto.foto}" />
			</h:column>
			<h:column>
				<f:facet name="header">Unidades</f:facet>
				<h:inputText a:type="number" a:min="1" a:max="#{lineaCarro.produto.stock}" value="#{lineaCarro.unidades}"
				  a:onchange="submit()" valueChangeListener ="#{userBacking.updateCarro}"
				  />
			</h:column>
			<h:column>
				<f:facet name="header">Prezo</f:facet>
				<h:outputText value="#{lineaCarro.produto.prezo} &euro;" />
			</h:column>
			<h:column>
				<f:facet name="header">IVA</f:facet>
				<h:outputText value="#{lineaCarro.produto.iva}%" />
			</h:column>
			<h:column>
				<f:facet name="header">Importe</f:facet>
				<h:outputText
					value="#{lineaCarro.produto.prezo *(1+(lineaCarro.produto.iva)/100) * lineaCarro.unidades}">
					<f:convertNumber type="currency" currencySymbol="€"
						maxIntegerDigits="5" maxFractionDigits="2" groupingUsed="false" />
				</h:outputText>
			</h:column>
			<h:column>
			<h:commandButton action="#{userBacking.eliminaDoCarro(lineaCarro)}"
			  value="Eliminar" />
			</h:column>			
			<f:facet name="footer">
				<h:outputText
					value="Importe total: #{userBacking.carro.getImporteConIva()} &euro;">
					<f:convertNumber type="currency" currencySymbol="€"
						maxIntegerDigits="5" maxFractionDigits="2" groupingUsed="false" />
				</h:outputText>
			</f:facet>
		</h:dataTable>
		<h:commandButton action="#{userBacking.pide()}"
			value="Tramitar Pedido" rendered="#{not userBacking.carroBaleiro}" />
		<h:commandButton action="index" value="Seguir comprando" />		
	</h:form>
</h:body>
</html>
